<div class="container">
  <div class="form-profile">
        <%= simple_form_for(@profile, html: {class: 'form-horizontal'}) do |f| %>
          <div class="row ">
            <div class="col-md-6 two-row-form">
                <%= f.input :first_name %>
            </div>
            <div class="col-md-6 two-row-form">
                <%= f.input :last_name %>
            </div>
          </div>
          <div class="row ">
            <div class="col-md-6 two-row-form">
              <%= f.input :address %>
            </div>
            <div class="col-md-6 two-row-form">
              <%= f.input :phone_number %>
            </div>
          </div>
          <div class="row ">
            <div class="col-md-6 two-row-form">
              <%= f.input :gender, collection: [:male, :female] %>
            </div>
            <div class="col-md-6 two-row-form">
              <%= f.input :age %>
            </div>
          </div>
          <div class="row ">
            <div class="col-md-6 two-row-form">
              <%= f.label :nationality %>
              <%= f.country_select :nationality, {}, { :class => "form-control" }%>
            </div>
            <div class="col-md-6 two-row-form">
              <%= f.input :job, label: 'occupation' %>
            </div>
          </div>
          <div class="row ">
            <div class="col-md-6 two-row-form">
              <%= f.input :married, label: 'Marital Status' ,collection: [:single, :married] %>
            </div>
            <div class="col-md-6 two-row-form">
              <%= f.input :emr_name, label: "Emergency Contact Name" %>
            </div>
          </div>
          <div class="row ">
            <div class="col-md-6 two-row-form">
              <%= f.input :emr_phone, label: "Emergency Contact Number" %>
            </div>
          </div>
            <div class="col-md-8 two-row-form">
              <%= f.label :image %>
              <%= f.file_field :image %>
            </div>
            <hr>
          <br>
          <%= f.submit class: 'btn, btn-default' %>
          <% end %>
  </div>
</div>
