<%= search_form_for @search do |f|%>
  <%= f.label :first_name_cont, "name" %>
  <%= f.text_field :first_name_cont %>
  <%= f.submit "Search" %>
<% end  %>
<table class="table table-responsive table-striped">
  <thead>
    <th><%= t "profiles.index.picture" %></th>
    <th><%= t "profiles.index.fullname" %></th>
    <th><%= t "profiles.index.phonenumber" %></th>
    <th><%= t "profiles.index.address" %></th>
  </thead>
  <tbody>
    <% @profiles.each do |profile| %>
    <tr>
      <% if profile.image.present? %>
        <td><%=image_tag profile.image_url(:thumb), :size => "70x70 ", class: 'img-responsive img-rounded'  %></td>
      <% else %>
        <td><%= image_tag "default.png", :size => "70x70 ", class: 'img-responsive img-rounded'  %></td>
      <% end %>
      <td><%= link_to "#{profile.first_name} #{profile.last_name}", profile_path(profile) %></td>
      <td><%= profile.phone_number %></td>
      <td><%= profile.address %></td>
    <% end %>
    </tr>
  </tbody>


</table>
