<div class="container">
  <div class="row">
    <div class="well well">
      <div class="row">
        <div class="col-sm-6 col-md-4">
            <%= image_tag @profile.image, :size => "320x240"%>
        </div>
        <div class="col-sm-6 col-md-8">
          <h2><%= @profile.first_name.capitalize %> <%= @profile.last_name.capitalize %></h2>
          <small><cite title="San Francisco, USA"><%= @profile.address %><i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
          <h4><i class="glyphicon glyphicon-envelope"></i> <%= current_user.email %></h4>
          <% if @profile.job.present? %>
            <h4><i class="glyphicon glyphicon-briefcase"></i> <%= @profile.job.capitalize %></h4>
          <% end %>
          <h4><i class="glyphicon glyphicon-briefcase"></i> <%= @profile.nationality %></h4>
          <% if @profile.phone_number.present? %>
            <h4><i class="glyphicon glyphicon-phone"></i><%= @profile.phone_number.floor %></h4>
          <% end %>
          <% if @profile.gender.present? %>
              <h4><strong>Gender: </strong><%= @profile.gender.capitalize %></h4>
          <% end %>
          <p><%= @profile.bio %></p>

          <%= link_to "Edit profile", edit_profile_path(@profile), class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <% if current_user.role == "admin" || current_user.role == "doctor"%>
      <%= simple_form_for [@profile, @directory] do |f| %>
        <%= f.file_field :file %>
        <%= f.input :name %>
        <%= f.button :submit %>
        <% end %>
</div>
<table class="table table-responsive table-striped">
  <thead>
    <th> Name</th>
    <th>File Name</th>
    <th>Download</th>
    <th>Date</th>
    <th>Edit & Delete</th>
  </thead>
  <tbody>
      <% @profile.directories.each do |d| %>
      <tr>
        <td><%= d.user.profile.first_name %></td>
        <td><%= d.name %></td>
        <td><a class="btn btn-lik" href='<%= d.file.url  %>' download>
                <%= File.basename(d.file.url) %>
              </a></td>
        <td><%= d.created_at %></h3></td>
      <td><%= link_to "Edit", edit_profile_directory_path(@profile, d) %>
        <%= link_to "Delete", profile_directory_path(@profile, d),
                        method: :delete,
                        remote: true,
                        data: {confirm: "Are you sure?"} %></td>
      <% end %>
    <% end %>
</table>
