<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top bg-nav-front">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed round-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Abdulrahman Clinic', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
          <div class="login-panel"> <%=link_to new_user_registration_path, class: 'btn btn-primary' do %>
                Sign Up <i class="fa fa-user-plus" aria-hidden="true"></i>
                <% end %>
          </div>
          <div class="login-panel"><a class="btn btn-primary" href="#"  data-toggle="modal" data-target="#signup">Sign In <i class="fa fa-sign-in" aria-hidden="true"></i></a></div>
      <ul class="nav navbar-nav navbar-right">
        <% if params[:id].present? %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_path %></li>
        <% else %>
            <li><a href="../#team-border">Our Team</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#maps">Location<span class="sr-only">(current)</span></a></li>
            <li><%= link_to_unless_current "Switch to English", locale: "en" %></li>
            <li><%= link_to "Switch to Arabic", locale: "ar" %></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class='background-register'>
    <div class="containerss">
        <div id="signup2">
            <div class="headerss">
                <p>You want to fill out this form</p>
            </div>
            <div class="sep"></div>
            <% resource.build_profile %>
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>

              <%= f.fields_for :profile do |profile_form| %>
              <div class= 'form-inputs'>
                    <div class="form-group">
                      <%= profile_form.label :first_name %>
                      <%= profile_form.text_field :first_name, class: 'form-control required' %>
                    </div>
                    <div class="form-group">
                      <%= profile_form.label :last_name %>
                      <%= profile_form.text_field :last_name, class: 'form-control required' %>
                    </div>
                    <div class="form-group">
                    <% if params[:locale] === "ar" %>
                      <%= profile_form.hidden_field :lang, :value => "ar" ,class: 'form-control required' %>
                    <% else %>
                      <%= profile_form.hidden_field :lang, :value => "en" ,class: 'form-control required' %>
                    <% end %>
                    </div>
              </div>
              <% end %>
              <div class="form-inputs">
                <%= f.input :email, required: true, autofocus: true %>
                <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                <%= f.input :password_confirmation, required: true %>
              </div>
              <div class="form-actions">
                <%= f.button :submit, "Sign up" %>
              </div>
            <% end %>
            <%= render "devise/shared/links" %>
            </div>
        </div>
    </div>
</div>
