
<div class='background-register'>
    <div class="containerss">
        <div id="signup2">
            <div class="headerss">
                <p><%= t "registration.new.title" %></p>
            </div>
            <div class="sep"></div>
            <% resource.build_profile %>
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>

              <%= f.fields_for :profile do |profile_form| %>
              <div class= 'form-inputs'>
                    <div class="form-group">
                      <%= profile_form.label :first_name %>
                      <%= profile_form.text_field :first_name, class: 'form-control required' %>
                    </div>
                    <div class="form-group">
                      <%= profile_form.label :last_name %>
                      <%= profile_form.text_field :last_name, class: 'form-control required' %>
                    </div>
                    <div class="form-group">
                    <% if params[:locale] === "ar" %>
                      <%= profile_form.hidden_field :lang, :value => "ar" ,class: 'form-control required' %>
                    <% else %>
                      <%= profile_form.hidden_field :lang, :value => "en" ,class: 'form-control required' %>
                    <% end %>
                    </div>
              </div>
              <% end %>
              <div class="form-inputs">
                <%= f.input :email, required: true, autofocus: true %>
                <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                <%= f.input :password_confirmation, required: true %>
              </div>
              <div class="form-actions">
                <%= f.button :submit, t('helpers.submit.sign_up') %>
              </div>
            <% end %>
            <%= render "devise/shared/links" %>
            </div>
        </div>
    </div>
</div>
