<div class="container chats">
    <div class="col-md-12 col-sd-12 col-xs-12">
          <div class="col-md-6 col-sm-6 col-xs-12">
                <h2>All Users: <%= paginate @users %></h2>
                <table class="table table-hover">
                  <tbody>
                       <% @users.each do |other_user| %>
                         <% if other_user != current_user %>
                          <tr><td>
                                <%= link_to user_chats_path(current_user, :other_user => other_user.id), method: :post  do %>
                                     <%= image_tag other_user.profile.image, class: "img-chatlist img-circle img-responsive" %>
                                <% end %>
                              </td>
                              <td class='name-chatlist'>
                                <%= other_user.profile.first_name %>
                              </td>
                          </tr>
                        <% end %>
                      <% end %>
                  </tbody>
                </table>

                <h2></h2>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
              <h2>Chat history:</h2>
                  <table class="table table-hover">
                    <tbody>
                     <% if @existing_chats_users %>
                         <% @existing_chats_users.take(6).each do |other_user| %>
                            <% if other_user != current_user %>
                                <tr><td>
                                        <%= link_to(user_chats_path(current_user, :other_user => other_user.id), method: :post) do %>
                                             <%= image_tag other_user.profile.image, class: "img-chatlist img-circle img-responsive" %>
                                         <% end %>
                                     </td>
                                     <td class='name-chatlist'>
                                           <%= other_user.profile.first_name %>
                                      </td>
                             <% end %>
                         <% end %>
                    <% end %>
          </div>
    </div>
</div>
