 <div class="row">
     <div class="col-md-2"><%= link_to "New Post", new_post_path, class:'btn btn-default' %></div>
     <div class="col-md-3 col-md-offset-7"> Number of post <b> <%= @blogs.count %> </b></div>
 </div>
<table class="table table-striped">
  <thead>
    <th>Id</th>
    <th>Title</th>
    <th>Content</th>
    <th>Author</th>
  </thead>
  <tbody>
    <% @blogs.each do |post| %>
    <tr>
      <td><%= post.id  %></td>
      <td><%= link_to post.title, post_path(post)  %></td>
      <td><%= truncate(post.content, length: 80) %></td>
      <td><%= post.author %></td>
    </tr>
    <% end %>
  </tbody>
</table>
