 <div class="row">

   <%= search_form_for @search do |f|%>
     <%= f.label :title_cont, "title" %>
     <%= f.text_field :title_cont %>
     <%= f.submit "Search" %>
   <% end  %>
 </div>
 <div class="col-md-12">
   <div class="panel panel-default">
     <div class="panel-heading">
           Post Blogs
           <div class="col-md-2"><%= link_to "New Post", new_post_path, class:'btn btn-default' %></div>
           <div class="col-md-3 col-md-offset-5"> Number of post <b> <%= @blogs.count %> </b></div>
     </div>
       <div class="panel-body">
            <table class="table table-striped table-hover">
              <thead>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Author</th>
              </thead>
              <tbody>
                <% @blogs.each do |post| %>
                <tr>
                  <td><%= post.id  %></td>
                  <td><%= link_to post.title, post_path(post)  %></td>
                  <td><%= truncate(post.content, length: 80) %></td>
                  <td><%= post.author %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
