<br>
<h2>List of Doctors </h2>
<table class="table table-hover table-striped">
  <thead>
    <tr>
        <th>Picture</th>
        <th>Name</th>
        <th>last_name</th>
    </tr>
  </thead>
  <tbody>
    <% @doctors.each do |doctor| %>
    <tr>
      <td> <%= link_to profile_path(doctor.profile) do %>
        <% if doctor.profile.image.present? %>
            <%= image_tag doctor.profile.image_url(:thumb), class: 'img-rounded img-responsive img-chatlist' %>
        <% else %>
            <%= image_tag doctor.profile.image, class: 'img-rounded img-responsive img-chatlist' %>
        <% end %>
          </td>
      <% end %>
      <td>
            <%= doctor.profile.first_name %>
      </td>
      <td>
            <%= doctor.profile.last_name %>
      </td>
    </tr>
        <% end %>
  </tbody>
</table>
