<br>
<h2>List of patients </h2>
<table class="table table-hover table-striped">
  <thead>
    <tr>
        <th>Picture</th>
        <th>Name</th>
        <th>Last name</th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= link_to profile_path(patient.profile) do %>
              <% if patient.profile.image.present? %>
                <%= image_tag patient.profile.image_url(:thumb), class: 'img-chatlist img-responsive img-rounded' %>
              <% else %>
                <%= image_tag "default.png", class: 'img-chatlist img-responsive img-rounded' %>
              <% end %>
            <% end %>
        </td>
       <td>
         <%= patient.profile.first_name %>
       </td>

      <td><%= patient.profile.last_name %></td>
</tr>
  <% end %>
<tbody>

</tbody>
