<br>
<h2><center><%= t "patients.title" %></h2></center>
<!-- <h2>List of patients </h2> -->
<div class="row">
    <div class="col-md-12">
      <% if params[:locale] === "ar" %>
      <%= form_tag doctors_path, method: :get, class: 'something' do %>
        <div class="input-group add-on">
          <%= text_field_tag :search, "", class: 'form-control'  %>
          <div class="input-group-btn">

            <%= button_tag(type: 'submit', class: "btn btn-default") do %>
             <span class="icon-envelope"></span> Search
            <% end %>
          </div>
        </div>
      <% end %>
        <table class="table table-hover table-striped text-right">
          <thead>
            <tr>
                <th class="text-right"><%= t "patients.picture" %></th>
                <th class="text-right"><%= t "patients.name" %></th>
                <th class="text-right"><%= t "patients.last_name" %></th>
            </tr>
      <% else %>
      <%= form_tag doctors_path, method: :get, class: 'something' do %>
        <div class="input-group add-on">
          <%= text_field_tag :search, "", class: 'form-control'  %>
          <div class="input-group-btn">

            <%= button_tag(type: 'submit', class: "btn btn-default") do %>
             <span class="icon-envelope"></span> Search
            <% end %>
          </div>
        </div>
      <% end %>
        <table class="table table-hover table-striped">
          <thead>
            <tr>
                <th><%= t "patients.picture" %></th>
                <th><%= t "patients.name" %></th>
                <th><%= t "patients.last_name" %></th>
            </tr>
      <% end %>
          </thead>
          <tbody>
            <% @patients.each do |patient| %>
              <tr>
                <td><%= link_to profile_path(patient.profile) do %>
                      <% if patient.profile.image.present? %>
                        <%= image_tag patient.profile.image_url(:thumb), class: 'img-chatlist img-responsive img-rounded' %>
                      <% else %>
                      <%= image_tag "default.png", class: 'img-chatlist img-responsive img-rounded' %>
                      <% end %>
                    <% end %>
                </td>
                 <td>
                   <%= patient.profile.first_name %>
                 </td>

                <td>
                  <%= patient.profile.last_name %>
                </td>
              </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @patients %>
  </div>
</div>
