<br>

<h2><%= t "patients.title" %></h2>
<!-- <h2>List of patients </h2> -->
<table class="table table-hover table-striped">
  <thead>
    <tr>
        <th><%= t "patients.picture" %></th>
        <th><%= t "patients.name" %></th>
        <th><%= t "patients.last_name" %></th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= link_to profile_path(patient.profile) do %>
              <% if patient.profile.image.present? %>
                <%= image_tag patient.profile.image_url(:thumb), class: 'img-chatlist img-responsive img-rounded' %>
              <% else %>
              <%= image_tag patient.profile.image, class: 'img-chatlist img-responsive img-rounded' %>
              <% end %>
            <% end %>
        </td>
       <td>
         <%= patient.profile.first_name %>
       </td>

      <td>
        <%= patient.profile.last_name %>
      </td>
</tr>
  <% end %>
<tbody>

</tbody>
