	<div class="row sign-in">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
			<div class="login-panel panel panel-default">
				<div class="panel-heading"><h3>Log in</h3></div>
				<div class="panel-body">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
						<fieldset>
							<div class="form-group">
								  <%= f.input_field :email, required: false, autofocus: true, class: 'form-control' %>
							</div>
							<div class="form-group">
								<%= f.input_field :password, required: false, class: 'form-control' %>
							</div>
							<div class="checkbox">
								<label>
                  <%= f.input_field :remember_me, as: :boolean if devise_mapping.rememberable? %>
								</label>
							</div>
              <%= f.button :submit, "Log in", class: "btn btn-primary" %>
						</fieldset>
            <% end %>
				</div>
        	<h4 class="text-center"><%= render "devise/shared/links" %></h4>
			</div>
		</div><!-- /.col-->
	</div><!-- /.row -->
