<div class="container">
    <%= simple_form_for @post, html: {multipart: true} do |f| %>
      <%= f.input :title %>
      <%= f.cktext_area :content %>
      <%= f.input :author %>
      <%= f.input :picture %>
      <%= f.input :video %>
      <%= f.input :attachments %>
      <% if params[:locale] === "ar" %>
        <%= f.input :lang,:input_html => { :value => 'ar' } %>
      <% else %>
        <% f.input :lang, :input_html => { :value => 'en' } %>
      <% end %>

      <%= f.button :submit %>
    <% end %>
</div>
