<div class="container">
    <%= simple_form_for @post, html: {multipart: true} do |f| %>
      <%= f.input :title %>
      <%= f.cktext_area :content %>
      <%= f.input :author %>
      <%= f.input :picture %>
      <%= f.input :video %>
      <%= f.input :attachments %>
    
      <%= f.hidden_field :lang, value: "ar" %>

      <%= f.button :submit %>
    <% end %>
</div>
