<!DOCTYPE html>
<html>
  <head>
    <title>Clinic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= growlyflash_static_notices %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<% if params[:locale] === "ar" %>
  <body id="front-end" data-spy="scroll" data-target=".navMenuCollapse" style=" direction: rtl">
        <%= render 'layouts/navbar2' %>
       <%= yield %>
        <%= render 'layouts/footer' %>
    <% else %>
  <body id="front-end" data-spy="scroll" data-target=".navMenuCollapse">
        <%= render 'layouts/navbar2' %>
        <%= yield %>
        <%= render 'layouts/footer' %>
<% end %>


    <!-- MODALS BEGIN-->

    <div class="modal modal-fullscreen fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
                 <div class="login-wrap">
                    <div class="login-html">
                        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab"><%= t "index.sign_in" %> </label>
                        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
                        <div class="login-form">
                            <div class="sign-in-htm">
                              <%= simple_form_for(:user, :url => session_path(:user)) do |f| %>
                                <div class="group">
                                    <label for="user" class="label"><%= t "index.email" %></label>
                                     <%= f.input_field :email, required: false, autofocus: true, class: 'input' %>
                                </div>
                                <div class="group">
                                    <label for="pass" class="label"><%= t "index.password" %></label>
                                    <%= f.input_field :password, id:"pass",required: false, class: "input", placeholder:"Password" %>
                                </div>
                                <div class="group">
                                    <input id="check" type="checkbox" class="check" checked>
                                    <%= f.input :remember_me, as: :boolean, class:'label-checkbox' %>
                                    <span class="icon"></span>
                                </div>
                                <div class="group">
                                  <%= f.button :submit, "sign-in in", class: "button" %>
                                </div>
                                <% end %>
                                <div class="hr"></div>

                                <div class="foot-lnk">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
      </div>
    </div>
    <!-- MODALS END-->
  </body>
</html>
